---
swagger: "2.0"
info:
  description: "This API allows shopping and booking with IATA's New Distribution\
    \ Capabilities (NDC) standard. It provides aggregated shopping capabilities (AirShopping),\
    \ detailed offer description (OfferPrice), flight seat selection (SeatAvailability)\
    \ and booking flight reservations (OrderCreate). Some fields in our API (when\
    \ noticed) use the PADIS Standard v16.1. Find more information <a href=http://www.iata.org/whatwedo/workgroups/Pages/padis.aspx>here</a>"
  version: "1.2"
  title: "AirGateway NDC JSON API"
host: "proxy.airgateway.net"
basePath: "/v1.2"
schemes:
- "https"
consumes:
- "application/json"
- "application/xml"
- "application/gob"
- "application/x-gob"
produces:
- "application/json"
- "application/xml"
- "application/gob"
- "application/x-gob"
paths:
  /AirDocIssue:
    post:
      tags:
      - "NDC Methods"
      summary: "Post AirDocIssue"
      description: "AirDocIssue the ability to pay for the held booking."
      operationId: "AirDocIssue#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.ordercreatemedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/AirDocIssuePayloadPayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderCreateMedia"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        "503":
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
  /AirShopping:
    post:
      tags:
      - "NDC Methods"
      summary: "Post AirShopping"
      description: "Get a list of offers for provided O&D, dates and travelers.\n\t\
        \tThere are three types of AirShopping request:<br> <b>(one-way)</b> -> For\
        \ this airshopping, the array of OriginDestination´s must have only one element.</br>\n\
        \t\t<b>(round-trip)</b> -> For this airshopping, the array of OriginDestination´\
        s must have only two elements, and the arrival of the second element must\
        \ be the same that the departure of the first element.</br>\n\t\t<b>(multi-city)</b>\
        \ -> For this airshopping, the array of OriginDestination´s can have an unlimited\
        \ quantity of elements.</br>\n\t\tThis method allows async behavior by sending\
        \ <b>AG-Connection: keep-alive</b> header. If a request is received with this\
        \ header, response will be real-time <a href=\"https://en.wikipedia.org/wiki/JSON_Streaming\"\
        >json streaming</a> so API will return offers as soon as they are received\
        \ from providers and parsed. Streaming responses are line delimited JSON.\
        \ You can <a href=\"https://api.airgateway.work/streaming-json-example.json\"\
        >see an example here</a>.</br>\n\t\tIf AG-Connection is not sent, all responses\
        \ from providers will be parsed together (it will be slow since it needs to\
        \ wait for all provider's responses) and there will be only a response with\
        \ format specified here.<br>\n\t\tAs an additional header option you can control\
        \ maximum request lifetime. Use <b>AG-Request-Timeout</b> header with integer\
        \ number value in milliseconds."
      operationId: "AirShopping#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.airshoppingmedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider IDs list or * for all"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - name: "Ag-Request-Timeout"
        in: "header"
        description: "Request max lifetime in seconds"
        required: false
        type: "string"
        x-exportParamName: "AgRequestTimeout"
        x-optionalDataType: "String"
      - in: "body"
        name: "payload"
        description: "AirShoppingPayload is the type for AirShopping endpoint request\
          \ body"
        required: true
        schema:
          $ref: "#/definitions/AirShoppingPayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/AirShoppingMedia"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        "503":
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
  /ItinShopping:
    post:
      tags:
      - "Non NDC Methods"
      summary: "Post ItinShopping"
      description: "Find itinerary by O&D, dates and flight numbers by exact matching\
        \ input data.<br>\n\t\tItinShopping supports all possible itinerary types\
        \ such as: OW (one-way), RT (round-trip) and MC (multi-city)<br>\n\t\t<b>(one-trip)</b>\
        \ -> To search one way itinerary provide single itinerary object.</br>\n\t\
        \t<b>(round-trip)</b> -> To search round trip provide two itinerary objects</br>\n\
        \t\t<b>(round-trip)</b> -> To search multi city provide itinerary objects\
        \ according to number of flights</br>\n"
      operationId: "ItinShopping#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.itinshoppingmedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        description: "ItinShoppingPayload is the type for ItinShopping endpoint request\
          \ body"
        required: true
        schema:
          $ref: "#/definitions/ItinShoppingPayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ItinShoppingMedia"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        "503":
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
  /OfferPrice:
    post:
      tags:
      - "NDC Methods"
      summary: "Post OfferPrice"
      description: "OfferPrice performs an specific detailed info query on a precise\
        \ flight."
      operationId: "OfferPrice#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.flightpricemedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/OfferPricePayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OfferPriceMedia"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        "503":
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
  /OrderCancel:
    post:
      tags:
      - "NDC Methods"
      summary: "Post OrderCancel"
      description: "OrderCancel returns cancelled order. "
      operationId: "OrderCancel#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.ordercancelmedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/OrderCancelPayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderCancelMedia"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        "503":
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
  /OrderChange:
    post:
      tags:
      - "NDC Methods"
      summary: "Post OrderChange"
      description: "The OrderChange amends existing order/PNR, and returns amended\
        \ order details."
      operationId: "OrderChange#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.ordercreatemedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/OrderChangePayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderCreateMedia"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        "503":
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
  /OrderComments:
    post:
      tags:
      - "Non NDC Methods"
      summary: "Post OrderComments"
      description: "OrderComments updates order with new comments"
      operationId: "OrderComments#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.ordercommentsmedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        description: "OrderCommentsPayload is the type for OrderComments endpoint\
          \ request body"
        required: true
        schema:
          $ref: "#/definitions/OrderCommentsPayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderCommentsMedia"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
  /OrderCreate:
    post:
      tags:
      - "NDC Methods"
      summary: "Post OrderCreate"
      description: "The OrderCreate makes a purchase request for the selected flight,\
        \ and returns an OrderID (some providers also return a PNR), along with some\
        \ flight data, such as the Origins-Destinations listing or the passenger list."
      operationId: "OrderCreate#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.ordercreatemedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/OrderCreatePayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderCreateMedia"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        "503":
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
  /OrderFile:
    get:
      tags:
      - "Non NDC Methods"
      summary: "GET OrderFile"
      description: "OrderFile"
      operationId: "OrderFile#GET"
      schemes:
      - "https"
      produces:
      - "text/plain"
      parameters:
      - name: "file_id"
        in: "query"
        description: "Airgateway File ID"
        required: false
        type: "string"
        x-exportParamName: "FileId"
        x-optionalDataType: "String"
      - name: "id"
        in: "query"
        description: "Airgateway Order ID"
        required: false
        type: "string"
        x-exportParamName: "Id"
        x-optionalDataType: "String"
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      responses:
        "200":
          description: "OK"
  /OrderHistory:
    get:
      tags:
      - "Non NDC Methods"
      summary: "GET OrderHistory"
      description: "OrderHistory"
      operationId: "OrderHistory#GET"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.orderhistorymedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "id"
        in: "query"
        description: "Airgateway Order ID"
        required: false
        type: "string"
        x-exportParamName: "Id"
        x-optionalDataType: "String"
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderHistoryMedia"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
  /OrderList:
    get:
      tags:
      - "Non NDC Methods"
      summary: "GET OrderList"
      description: "OrderList"
      operationId: "OrderList#GET"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.orderlistmedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "agency"
        in: "query"
        description: "Agency"
        required: false
        type: "string"
        x-exportParamName: "Agency"
        x-optionalDataType: "String"
      - name: "approveStatus"
        in: "query"
        description: "Orders with approve status [in_progress / approved / refused]"
        required: false
        type: "string"
        x-exportParamName: "ApproveStatus"
        x-optionalDataType: "String"
      - name: "bookingDateFrom"
        in: "query"
        description: "Booking date from"
        required: false
        type: "string"
        x-exportParamName: "BookingDateFrom"
        x-optionalDataType: "String"
      - name: "bookingDateTo"
        in: "query"
        description: "Booking date to"
        required: false
        type: "string"
        x-exportParamName: "BookingDateTo"
        x-optionalDataType: "String"
      - name: "corporateID"
        in: "query"
        description: "Corporate ID"
        required: false
        type: "string"
        x-exportParamName: "CorporateID"
        x-optionalDataType: "String"
      - name: "departureDate"
        in: "query"
        description: "Departure date"
        required: false
        type: "string"
        x-exportParamName: "DepartureDate"
        x-optionalDataType: "String"
      - name: "destination"
        in: "query"
        description: "Destination of flight"
        required: false
        type: "string"
        x-exportParamName: "Destination"
        x-optionalDataType: "String"
      - name: "disrupted"
        in: "query"
        description: "Show disrupted orders"
        required: false
        type: "string"
        x-exportParamName: "Disrupted"
        x-optionalDataType: "String"
      - name: "id"
        in: "query"
        description: "Sort order"
        required: false
        type: "string"
        x-exportParamName: "Id"
        x-optionalDataType: "String"
      - name: "origin"
        in: "query"
        description: "Origin of flight"
        required: false
        type: "string"
        x-exportParamName: "Origin"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "string"
        x-exportParamName: "Page"
        x-optionalDataType: "String"
      - name: "pageSize"
        in: "query"
        description: "Orders number per page"
        required: false
        type: "string"
        x-exportParamName: "PageSize"
        x-optionalDataType: "String"
      - name: "pax"
        in: "query"
        description: "PAX number"
        required: false
        type: "string"
        x-exportParamName: "Pax"
        x-optionalDataType: "String"
      - name: "pnr"
        in: "query"
        description: "PNR"
        required: false
        type: "string"
        x-exportParamName: "Pnr"
        x-optionalDataType: "String"
      - name: "providers"
        in: "query"
        description: "Providers list separated by comma"
        required: false
        type: "string"
        x-exportParamName: "Providers"
        x-optionalDataType: "String"
      - name: "psgName"
        in: "query"
        description: "Passenger name"
        required: false
        type: "string"
        x-exportParamName: "PsgName"
        x-optionalDataType: "String"
      - name: "psgSurname"
        in: "query"
        description: "Passenger surname"
        required: false
        type: "string"
        x-exportParamName: "PsgSurname"
        x-optionalDataType: "String"
      - name: "showOrdersType"
        in: "query"
        description: "Show orders type"
        required: false
        type: "string"
        x-exportParamName: "ShowOrdersType"
        x-optionalDataType: "String"
      - name: "showSubagencies"
        in: "query"
        description: "Flag to show subagencies' orders"
        required: false
        type: "string"
        x-exportParamName: "ShowSubagencies"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "Sort order"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "status"
        in: "query"
        description: "Status of order"
        required: false
        type: "string"
        x-exportParamName: "Status"
        x-optionalDataType: "String"
      - name: "ticketNumber"
        in: "query"
        description: "Ticket Nr. / EMD"
        required: false
        type: "string"
        x-exportParamName: "TicketNumber"
        x-optionalDataType: "String"
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderListMedia"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
  /OrderMetas:
    post:
      tags:
      - "Non NDC Methods"
      summary: "Post OrderMetas"
      description: "OrderMetas updates order with new metas"
      operationId: "OrderMetas#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.ordermetasmedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        description: "OrderMetasPayload is the type for OrderMetas endpoint request\
          \ body"
        required: true
        schema:
          $ref: "#/definitions/OrderMetasPayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderMetasMedia"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
  /OrderRemarks:
    post:
      tags:
      - "Non NDC Methods"
      summary: "Post OrderRemarks"
      description: "OrderRemarks updates order with new remarks"
      operationId: "OrderRemarks#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.orderremarksmedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        description: "OrderRemarksPayload is the type for OrderRemarks endpoint request\
          \ body"
        required: true
        schema:
          $ref: "#/definitions/OrderRemarksPayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderRemarksMedia"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
  /OrderReshop:
    post:
      tags:
      - "NDC Methods"
      summary: "Post OrderReshop"
      description: "OrderReshop returns offers avaialble for provided order ID and\
        \ different date."
      operationId: "OrderReshop#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.orderreshopmedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/OrderReshopPayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderReshopMedia"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        "503":
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
  /OrderReshopRefund:
    post:
      tags:
      - "NDC Methods"
      summary: "Post OrderReshopRefund"
      operationId: "OrderReshopRefund#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.orderreshoprefundmedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/OrderReshopRefundPayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderReshopRefundMedia"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        "503":
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
  /OrderReshopReprice:
    post:
      tags:
      - "NDC Methods"
      summary: "Post OrderReshopReprice"
      description: "OrderReshopReprice returns price for selected OrderReshop offer."
      operationId: "OrderReshopReprice#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.orderreshoprepricemedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/OrderReshopRepricePayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderReshopRepriceMedia"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        "503":
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
  /OrderRetrieve:
    post:
      tags:
      - "NDC Methods"
      summary: "Post OrderRetrieve"
      description: "OrderRetrieve returns an order information of existing order. "
      operationId: "OrderRetrieve#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.ordercreatemedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-No-Cache-OR"
        in: "header"
        description: "If this header is set to any value, the OrderRetrieve request\
          \ will be forwarded to the airline and its respective reply will also come\
          \ from the airline. In case you don't set it, the OrderRetrieve reply will\
          \ be generated from the information cached locally."
        required: false
        type: "string"
        x-exportParamName: "AgNoCacheOR"
        x-optionalDataType: "String"
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        description: "OrderRetrievePayload is the type for OrderRetrieve endpoint\
          \ request body"
        required: true
        schema:
          $ref: "#/definitions/OrderRetrievePayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderCreateMedia"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        "503":
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
  /OrderReview:
    post:
      tags:
      - "Non NDC Methods"
      summary: "Post OrderReview"
      description: "OrderReview returns result of review approval/rejection"
      operationId: "OrderReview#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.orderreviewmedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        description: "OrderReviewPayload is the type for OrderReview endpoint request\
          \ body"
        required: true
        schema:
          $ref: "#/definitions/OrderReviewPayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderReviewMedia"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        "503":
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
  /OrderUpdate:
    post:
      tags:
      - "NDC Methods"
      summary: "Post OrderUpdate"
      description: "The OrderUpdate amends existing passengers details on order/PNR,\
        \ and returns amended order details."
      operationId: "OrderUpdate#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.ordercreatemedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        required: true
        schema:
          $ref: "#/definitions/OrderUpdatePayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderCreateMedia"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        "503":
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
  /ProviderList:
    get:
      tags:
      - "Non NDC Methods"
      summary: "GET ProviderList"
      description: "ProviderList"
      operationId: "ProviderList#GET"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.providerlistmedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ProviderListMedia"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
  /SeatAvailability:
    post:
      tags:
      - "NDC Methods"
      summary: "Post SeatAvailability"
      description: "SeatAvailability returns a list of seat, price of these seats,\
        \ its location and some more info like, for example, if a seat can be occupied\
        \ by infants or only adults."
      operationId: "SeatAvailability#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.seatavailabilitymedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        description: "SeatAvailability data"
        required: true
        schema:
          $ref: "#/definitions/SeatAvailabilityPayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/SeatAvailabilityMedia"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/error"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        "503":
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
  /ServiceList:
    post:
      tags:
      - "NDC Methods"
      summary: "Post ServiceList"
      description: "ServiceList returns a service list information for existing order. "
      operationId: "ServiceList#Post"
      schemes:
      - "https"
      produces:
      - "application/airgateway.github.io.servicelistmedia+json"
      - "application/vnd.goa.error"
      parameters:
      - name: "Ag-Providers"
        in: "header"
        description: "Provider ID"
        required: true
        type: "string"
        x-exportParamName: "AgProviders"
      - in: "body"
        name: "payload"
        description: "ServiceListPayload is the type for ServiceList endpoint request\
          \ body"
        required: true
        schema:
          $ref: "#/definitions/ServiceListPayload"
        x-exportParamName: "Payload"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ServiceListMedia"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/error"
        "503":
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/error"
  /status:
    get:
      tags:
      - "Non NDC Methods"
      summary: "Get Status"
      description: "Status returns ok if API is active"
      operationId: "Status#Get"
      schemes:
      - "https"
      produces:
      - "text/plain"
      parameters: []
      responses:
        "200":
          description: "OK"
securityDefinitions:
  key:
    description: "Authorization token obtained from AirGateway"
    type: "apiKey"
    name: "Authorization"
    in: "header"
definitions:
  Address:
    type: "object"
    properties:
      cityName:
        type: "string"
        example: "Madrid"
        description: "City name."
      countryCode:
        type: "string"
        example: "GB"
        description: "Country code."
      postalCode:
        type: "string"
        example: "28001"
        description: "Postal code."
      street:
        type: "string"
        example: "Gran Via 25"
        description: "Street."
    title: "Address"
    example:
      cityName: "Madrid"
      countryCode: "GB"
      postalCode: "28001"
      street: "Gran Via 25"
  AgencyData:
    type: "object"
    properties:
      countryCode:
        type: "string"
        example: "ES"
        description: "Country code"
      iataCode:
        type: "string"
        example: "33842201"
        description: "IATA Number"
    title: "AgencyData"
    example:
      countryCode: "ES"
      iataCode: "33842201"
  AirDocIssuePayloadPayload:
    type: "object"
    required:
    - "id"
    - "payment"
    properties:
      id:
        type: "string"
        example: "AGW-JHTE1543KJ"
        description: "AirGateway order ID"
      payment:
        $ref: "#/definitions/Payment"
    title: "AirDocIssuePayloadPayload"
    example:
      id: "AGW-JHTE1543KJ"
      payment:
        cardCode: "VI"
        cardHolderEmail: "smith@airgateway.com"
        cardHolderName: "John Smith"
        cardHolderSurname: "Smith"
        cardHolderTitle: "MR"
        cardNumber: "1234 1234 1234 1234"
        cardType: "Credit"
        cashEmail: "smith@airgateway.com"
        cashName: "John Smith"
        cashSurname: "Smith"
        cashTitle: "MR"
        cityName: "London"
        countryCode: "34"
        expiration: "0220"
        method: "card"
        passengerType: "ADT"
        phone: "+34666123123"
        postalCode: "001235"
        remark: "WP0000001101"
        seriesCode: "123"
        stateProv: "WA"
        street1: "Oxford Street"
        street2: "N15"
        voucher:
          amount: 12.09
          currency: "Aspernatur culpa eos."
          email: "Distinctio quas et ipsam molestiae repellat."
          number: "Id cum voluptas eius at."
          surname: "Aspernatur mollitia officia temporibus."
  AirShoppingMedia:
    type: "object"
    properties:
      result:
        type: "array"
        example:
        - benefits:
            amount:
              consumer:
                base: 200
                currency: "EUR"
                total: 281.94
              provider:
                base: 200
                currency: "USD"
                total: 301.94
            application: "FARES"
            description: "QDP Test Percent Discount"
            term:
              category: "BAGGAGE"
              item: "CARRYON"
              media:
                id: "#0001"
                link: "http://test.com"
              metadataToken: "Velit aperiam commodi at rerum reiciendis."
              originDestinationReference: "Sunt repellat."
              properties:
              - UOM: "Kg"
                type: "Weight"
                value: "8"
              - UOM: "Lbs"
                type: "Weight"
                value: "18"
              text: "1 carry-on bag  up to 8kg/18lbs"
              units: "1"
          createdAt: 1618480712
          disclosures:
          - descriptions:
            - category: "MEALS"
              item: "DRINKS_SNACKS"
              text: "Snacks and Beverage except GVA"
            listKey: "TBEUKES"
          - descriptions:
            - category: "MEALS"
              item: "DRINKS_SNACKS"
              text: "Snacks and Beverage except GVA"
            listKey: "TBEUKES"
          error: "no available journey for this search"
          flights:
          - arrival:
              airportCode: "MAD"
              airportName: "MADRID Airport"
              countryID: ""
              date: "2019-08-15"
              parentLocation: ""
              terminalName: "2"
              time: "08:30"
            baggageAllowance:
              carryOn:
              - chooseType: "one"
                options:
                - properties:
                  - UOM: "Kg"
                    type: "Weight"
                    value: "8"
                  - UOM: "Lbs"
                    type: "Weight"
                    value: "18"
                  quantity: 1
                  text: "1 carry-on bag  up to 8kg/18lbs"
                - properties:
                  - UOM: "Kg"
                    type: "Weight"
                    value: "8"
                  - UOM: "Lbs"
                    type: "Weight"
                    value: "18"
                  quantity: 1
                  text: "1 carry-on bag  up to 8kg/18lbs"
                passengerRefs: "Repellendus mollitia neque labore est corrupti."
              checked:
              - chooseType: "one"
                options:
                - properties:
                  - UOM: "Kg"
                    type: "Weight"
                    value: "8"
                  - UOM: "Lbs"
                    type: "Weight"
                    value: "18"
                  quantity: 1
                  text: "1 carry-on bag  up to 8kg/18lbs"
                - properties:
                  - UOM: "Kg"
                    type: "Weight"
                    value: "8"
                  - UOM: "Lbs"
                    type: "Weight"
                    value: "18"
                  quantity: 1
                  text: "1 carry-on bag  up to 8kg/18lbs"
                passengerRefs: "Repellendus mollitia neque labore est corrupti."
            departure:
              airportCode: "JFK"
              airportName: "John F Kennedy (NY) (New York) Airport"
              countryID: ""
              date: "2019-08-15"
              parentLocation: ""
              terminalName: "2"
              time: "06:30"
            duration: "11h35m"
            key: "F1"
            segments:
            - ODRef: "OD1"
              detail:
                classOfService:
                  cabinDesignator: "ECONOMY"
                  code: "Y"
                  disclosureRefs:
                  - "TBEUKES"
                  fare:
                    basisCode: "PEUBXXP9"
                    cabin: "B"
                    code: "FLE"
                    marketingName: "Light"
                    priceClassName: "Facilis illo et quas omnis."
                    standardName: "Restricted"
                    type: "Published"
                  fareRules:
                  - cancel: "Not Allowed"
                    cancelEnum: "not_allowed"
                    change: "For Fee"
                    changeEnum: "allowed"
                    passengerRef: "Debitis voluptatem et dolores quis soluta fuga."
                    passengerType: "Facere repellendus facere dolorum corrupti rerum\
                      \ exercitationem."
                    penalties:
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                  - cancel: "Not Allowed"
                    cancelEnum: "not_allowed"
                    change: "For Fee"
                    changeEnum: "allowed"
                    passengerRef: "Debitis voluptatem et dolores quis soluta fuga."
                    passengerType: "Facere repellendus facere dolorum corrupti rerum\
                      \ exercitationem."
                    penalties:
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                  generalClassCode: "B"
                  refs: "FBCODE2ADT"
                duration: "PT7H15M"
                seatsLeft: "10"
                segmentType: "HK"
                stopLocations:
                - airportCode: "KGL"
                  airportName: "Kigali International"
                  arrivalDate: "2019-09-06"
                  arrivalTime: "18:50"
                  departureDate: "2019-09-06"
                  departureTime: "20:05"
                stopQuantity: "1"
              equipment:
                aircraftCode: "JFK"
                name: "New York J F Kennedy International Apt, US"
              fareCode: "70J"
              flightNumber: "BA7289"
              marketingCarrier:
                airlineID: "CA"
                flightNumber: "BA1324"
                name: "Common Airline"
              operatingCarrier:
                airlineID: "BA"
                flightNumber: "1324"
                name: "British Airways"
              originDestination:
                arrival:
                  airportCode: "MAD"
                  airportName: "MADRID"
                  countryID: "Accusamus harum."
                  date: "2019-08-15"
                  parentLocation: "Aliquid corrupti reiciendis cumque."
                  terminalName: "4S"
                  time: "08:30"
                departure:
                  airportCode: "JFK"
                  airportName: "John F Kennedy (NY) (New York) Airport"
                  countryID: "Soluta voluptas."
                  date: "2019-08-15"
                  parentLocation: "Dolor quo sequi perferendis illo repellendus qui."
                  terminalName: "Terminal 7"
                  time: "06:30"
              segmentID: "SEGMENT-BA7289"
            - ODRef: "OD1"
              detail:
                classOfService:
                  cabinDesignator: "ECONOMY"
                  code: "Y"
                  disclosureRefs:
                  - "TBEUKES"
                  fare:
                    basisCode: "PEUBXXP9"
                    cabin: "B"
                    code: "FLE"
                    marketingName: "Light"
                    priceClassName: "Facilis illo et quas omnis."
                    standardName: "Restricted"
                    type: "Published"
                  fareRules:
                  - cancel: "Not Allowed"
                    cancelEnum: "not_allowed"
                    change: "For Fee"
                    changeEnum: "allowed"
                    passengerRef: "Debitis voluptatem et dolores quis soluta fuga."
                    passengerType: "Facere repellendus facere dolorum corrupti rerum\
                      \ exercitationem."
                    penalties:
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                  - cancel: "Not Allowed"
                    cancelEnum: "not_allowed"
                    change: "For Fee"
                    changeEnum: "allowed"
                    passengerRef: "Debitis voluptatem et dolores quis soluta fuga."
                    passengerType: "Facere repellendus facere dolorum corrupti rerum\
                      \ exercitationem."
                    penalties:
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                  generalClassCode: "B"
                  refs: "FBCODE2ADT"
                duration: "PT7H15M"
                seatsLeft: "10"
                segmentType: "HK"
                stopLocations:
                - airportCode: "KGL"
                  airportName: "Kigali International"
                  arrivalDate: "2019-09-06"
                  arrivalTime: "18:50"
                  departureDate: "2019-09-06"
                  departureTime: "20:05"
                stopQuantity: "1"
              equipment:
                aircraftCode: "JFK"
                name: "New York J F Kennedy International Apt, US"
              fareCode: "70J"
              flightNumber: "BA7289"
              marketingCarrier:
                airlineID: "CA"
                flightNumber: "BA1324"
                name: "Common Airline"
              operatingCarrier:
                airlineID: "BA"
                flightNumber: "1324"
                name: "British Airways"
              originDestination:
                arrival:
                  airportCode: "MAD"
                  airportName: "MADRID"
                  countryID: "Accusamus harum."
                  date: "2019-08-15"
                  parentLocation: "Aliquid corrupti reiciendis cumque."
                  terminalName: "4S"
                  time: "08:30"
                departure:
                  airportCode: "JFK"
                  airportName: "John F Kennedy (NY) (New York) Airport"
                  countryID: "Soluta voluptas."
                  date: "2019-08-15"
                  parentLocation: "Dolor quo sequi perferendis illo repellendus qui."
                  terminalName: "Terminal 7"
                  time: "06:30"
              segmentID: "SEGMENT-BA7289"
          maxNumberOfStops: 1
          offerID: "2r5t6w"
          offerType: "oneWay"
          owner: "AA"
          paymentTimeLimit: "2021-04-16T23:59:59Z"
          price:
            consumer:
              base: 200
              breakdown:
              - base: 71.35
                passengerRefs: "ADTRef1"
                passengerType: "ADT"
                surcharge: 10
                tax: 200.59
              currency: "EUR"
              tax:
                breakdown:
                - code: "AB"
                  currency: "EUR"
                  description: "First tax item"
                  total: 40.94
                - code: "CD"
                  currency: "EUR"
                  description: "Second tax item"
                  total: 40
                total: 81.94
              total: 281.94
            provider:
              base: 200
              breakdown:
              - base: 90.35
                passengerRefs: "ADTRef1"
                passengerType: "ADT"
                surcharge: 11
                tax: 200.59
              currency: "USD"
              tax:
                breakdown:
                - code: "AB"
                  currency: "EUR"
                  description: "First tax item"
                  total: 50.94
                - code: "CD"
                  currency: "EUR"
                  description: "Second tax item"
                  total: 50
                total: 101.94
              total: 301.94
          priceBreakdown:
            inbound:
              consumer:
                base: 200
                breakdown:
                - base: 71.35
                  passengerRefs: "ADTRef1"
                  passengerType: "ADT"
                  surcharge: 10
                  tax: 200.59
                currency: "EUR"
                tax:
                  breakdown:
                  - code: "AB"
                    currency: "EUR"
                    description: "First tax item"
                    total: 40.94
                  - code: "CD"
                    currency: "EUR"
                    description: "Second tax item"
                    total: 40
                  total: 81.94
                total: 281.94
              provider:
                base: 200
                breakdown:
                - base: 90.35
                  passengerRefs: "ADTRef1"
                  passengerType: "ADT"
                  surcharge: 11
                  tax: 200.59
                currency: "USD"
                tax:
                  breakdown:
                  - code: "AB"
                    currency: "EUR"
                    description: "First tax item"
                    total: 50.94
                  - code: "CD"
                    currency: "EUR"
                    description: "Second tax item"
                    total: 50
                  total: 101.94
                total: 301.94
            outbound:
              consumer:
                base: 200
                breakdown:
                - base: 71.35
                  passengerRefs: "ADTRef1"
                  passengerType: "ADT"
                  surcharge: 10
                  tax: 200.59
                currency: "EUR"
                tax:
                  breakdown:
                  - code: "AB"
                    currency: "EUR"
                    description: "First tax item"
                    total: 40.94
                  - code: "CD"
                    currency: "EUR"
                    description: "Second tax item"
                    total: 40
                  total: 81.94
                total: 281.94
              provider:
                base: 200
                breakdown:
                - base: 90.35
                  passengerRefs: "ADTRef1"
                  passengerType: "ADT"
                  surcharge: 11
                  tax: 200.59
                currency: "USD"
                tax:
                  breakdown:
                  - code: "AB"
                    currency: "EUR"
                    description: "First tax item"
                    total: 50.94
                  - code: "CD"
                    currency: "EUR"
                    description: "Second tax item"
                    total: 50
                  total: 101.94
                total: 301.94
          provider: "AA"
        - benefits:
            amount:
              consumer:
                base: 200
                currency: "EUR"
                total: 281.94
              provider:
                base: 200
                currency: "USD"
                total: 301.94
            application: "FARES"
            description: "QDP Test Percent Discount"
            term:
              category: "BAGGAGE"
              item: "CARRYON"
              media:
                id: "#0001"
                link: "http://test.com"
              metadataToken: "Velit aperiam commodi at rerum reiciendis."
              originDestinationReference: "Sunt repellat."
              properties:
              - UOM: "Kg"
                type: "Weight"
                value: "8"
              - UOM: "Lbs"
                type: "Weight"
                value: "18"
              text: "1 carry-on bag  up to 8kg/18lbs"
              units: "1"
          createdAt: 1618480712
          disclosures:
          - descriptions:
            - category: "MEALS"
              item: "DRINKS_SNACKS"
              text: "Snacks and Beverage except GVA"
            listKey: "TBEUKES"
          - descriptions:
            - category: "MEALS"
              item: "DRINKS_SNACKS"
              text: "Snacks and Beverage except GVA"
            listKey: "TBEUKES"
          error: "no available journey for this search"
          flights:
          - arrival:
              airportCode: "MAD"
              airportName: "MADRID Airport"
              countryID: ""
              date: "2019-08-15"
              parentLocation: ""
              terminalName: "2"
              time: "08:30"
            baggageAllowance:
              carryOn:
              - chooseType: "one"
                options:
                - properties:
                  - UOM: "Kg"
                    type: "Weight"
                    value: "8"
                  - UOM: "Lbs"
                    type: "Weight"
                    value: "18"
                  quantity: 1
                  text: "1 carry-on bag  up to 8kg/18lbs"
                - properties:
                  - UOM: "Kg"
                    type: "Weight"
                    value: "8"
                  - UOM: "Lbs"
                    type: "Weight"
                    value: "18"
                  quantity: 1
                  text: "1 carry-on bag  up to 8kg/18lbs"
                passengerRefs: "Repellendus mollitia neque labore est corrupti."
              checked:
              - chooseType: "one"
                options:
                - properties:
                  - UOM: "Kg"
                    type: "Weight"
                    value: "8"
                  - UOM: "Lbs"
                    type: "Weight"
                    value: "18"
                  quantity: 1
                  text: "1 carry-on bag  up to 8kg/18lbs"
                - properties:
                  - UOM: "Kg"
                    type: "Weight"
                    value: "8"
                  - UOM: "Lbs"
                    type: "Weight"
                    value: "18"
                  quantity: 1
                  text: "1 carry-on bag  up to 8kg/18lbs"
                passengerRefs: "Repellendus mollitia neque labore est corrupti."
            departure:
              airportCode: "JFK"
              airportName: "John F Kennedy (NY) (New York) Airport"
              countryID: ""
              date: "2019-08-15"
              parentLocation: ""
              terminalName: "2"
              time: "06:30"
            duration: "11h35m"
            key: "F1"
            segments:
            - ODRef: "OD1"
              detail:
                classOfService:
                  cabinDesignator: "ECONOMY"
                  code: "Y"
                  disclosureRefs:
                  - "TBEUKES"
                  fare:
                    basisCode: "PEUBXXP9"
                    cabin: "B"
                    code: "FLE"
                    marketingName: "Light"
                    priceClassName: "Facilis illo et quas omnis."
                    standardName: "Restricted"
                    type: "Published"
                  fareRules:
                  - cancel: "Not Allowed"
                    cancelEnum: "not_allowed"
                    change: "For Fee"
                    changeEnum: "allowed"
                    passengerRef: "Debitis voluptatem et dolores quis soluta fuga."
                    passengerType: "Facere repellendus facere dolorum corrupti rerum\
                      \ exercitationem."
                    penalties:
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                  - cancel: "Not Allowed"
                    cancelEnum: "not_allowed"
                    change: "For Fee"
                    changeEnum: "allowed"
                    passengerRef: "Debitis voluptatem et dolores quis soluta fuga."
                    passengerType: "Facere repellendus facere dolorum corrupti rerum\
                      \ exercitationem."
                    penalties:
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                  generalClassCode: "B"
                  refs: "FBCODE2ADT"
                duration: "PT7H15M"
                seatsLeft: "10"
                segmentType: "HK"
                stopLocations:
                - airportCode: "KGL"
                  airportName: "Kigali International"
                  arrivalDate: "2019-09-06"
                  arrivalTime: "18:50"
                  departureDate: "2019-09-06"
                  departureTime: "20:05"
                stopQuantity: "1"
              equipment:
                aircraftCode: "JFK"
                name: "New York J F Kennedy International Apt, US"
              fareCode: "70J"
              flightNumber: "BA7289"
              marketingCarrier:
                airlineID: "CA"
                flightNumber: "BA1324"
                name: "Common Airline"
              operatingCarrier:
                airlineID: "BA"
                flightNumber: "1324"
                name: "British Airways"
              originDestination:
                arrival:
                  airportCode: "MAD"
                  airportName: "MADRID"
                  countryID: "Accusamus harum."
                  date: "2019-08-15"
                  parentLocation: "Aliquid corrupti reiciendis cumque."
                  terminalName: "4S"
                  time: "08:30"
                departure:
                  airportCode: "JFK"
                  airportName: "John F Kennedy (NY) (New York) Airport"
                  countryID: "Soluta voluptas."
                  date: "2019-08-15"
                  parentLocation: "Dolor quo sequi perferendis illo repellendus qui."
                  terminalName: "Terminal 7"
                  time: "06:30"
              segmentID: "SEGMENT-BA7289"
            - ODRef: "OD1"
              detail:
                classOfService:
                  cabinDesignator: "ECONOMY"
                  code: "Y"
                  disclosureRefs:
                  - "TBEUKES"
                  fare:
                    basisCode: "PEUBXXP9"
                    cabin: "B"
                    code: "FLE"
                    marketingName: "Light"
                    priceClassName: "Facilis illo et quas omnis."
                    standardName: "Restricted"
                    type: "Published"
                  fareRules:
                  - cancel: "Not Allowed"
                    cancelEnum: "not_allowed"
                    change: "For Fee"
                    changeEnum: "allowed"
                    passengerRef: "Debitis voluptatem et dolores quis soluta fuga."
                    passengerType: "Facere repellendus facere dolorum corrupti rerum\
                      \ exercitationem."
                    penalties:
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                  - cancel: "Not Allowed"
                    cancelEnum: "not_allowed"
                    change: "For Fee"
                    changeEnum: "allowed"
                    passengerRef: "Debitis voluptatem et dolores quis soluta fuga."
                    passengerType: "Facere repellendus facere dolorum corrupti rerum\
                      \ exercitationem."
                    penalties:
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                  generalClassCode: "B"
                  refs: "FBCODE2ADT"
                duration: "PT7H15M"
                seatsLeft: "10"
                segmentType: "HK"
                stopLocations:
                - airportCode: "KGL"
                  airportName: "Kigali International"
                  arrivalDate: "2019-09-06"
                  arrivalTime: "18:50"
                  departureDate: "2019-09-06"
                  departureTime: "20:05"
                stopQuantity: "1"
              equipment:
                aircraftCode: "JFK"
                name: "New York J F Kennedy International Apt, US"
              fareCode: "70J"
              flightNumber: "BA7289"
              marketingCarrier:
                airlineID: "CA"
                flightNumber: "BA1324"
                name: "Common Airline"
              operatingCarrier:
                airlineID: "BA"
                flightNumber: "1324"
                name: "British Airways"
              originDestination:
                arrival:
                  airportCode: "MAD"
                  airportName: "MADRID"
                  countryID: "Accusamus harum."
                  date: "2019-08-15"
                  parentLocation: "Aliquid corrupti reiciendis cumque."
                  terminalName: "4S"
                  time: "08:30"
                departure:
                  airportCode: "JFK"
                  airportName: "John F Kennedy (NY) (New York) Airport"
                  countryID: "Soluta voluptas."
                  date: "2019-08-15"
                  parentLocation: "Dolor quo sequi perferendis illo repellendus qui."
                  terminalName: "Terminal 7"
                  time: "06:30"
              segmentID: "SEGMENT-BA7289"
          maxNumberOfStops: 1
          offerID: "2r5t6w"
          offerType: "oneWay"
          owner: "AA"
          paymentTimeLimit: "2021-04-16T23:59:59Z"
          price:
            consumer:
              base: 200
              breakdown:
              - base: 71.35
                passengerRefs: "ADTRef1"
                passengerType: "ADT"
                surcharge: 10
                tax: 200.59
              currency: "EUR"
              tax:
                breakdown:
                - code: "AB"
                  currency: "EUR"
                  description: "First tax item"
                  total: 40.94
                - code: "CD"
                  currency: "EUR"
                  description: "Second tax item"
                  total: 40
                total: 81.94
              total: 281.94
            provider:
              base: 200
              breakdown:
              - base: 90.35
                passengerRefs: "ADTRef1"
                passengerType: "ADT"
                surcharge: 11
                tax: 200.59
              currency: "USD"
              tax:
                breakdown:
                - code: "AB"
                  currency: "EUR"
                  description: "First tax item"
                  total: 50.94
                - code: "CD"
                  currency: "EUR"
                  description: "Second tax item"
                  total: 50
                total: 101.94
              total: 301.94
          priceBreakdown:
            inbound:
              consumer:
                base: 200
                breakdown:
                - base: 71.35
                  passengerRefs: "ADTRef1"
                  passengerType: "ADT"
                  surcharge: 10
                  tax: 200.59
                currency: "EUR"
                tax:
                  breakdown:
                  - code: "AB"
                    currency: "EUR"
                    description: "First tax item"
                    total: 40.94
                  - code: "CD"
                    currency: "EUR"
                    description: "Second tax item"
                    total: 40
                  total: 81.94
                total: 281.94
              provider:
                base: 200
                breakdown:
                - base: 90.35
                  passengerRefs: "ADTRef1"
                  passengerType: "ADT"
                  surcharge: 11
                  tax: 200.59
                currency: "USD"
                tax:
                  breakdown:
                  - code: "AB"
                    currency: "EUR"
                    description: "First tax item"
                    total: 50.94
                  - code: "CD"
                    currency: "EUR"
                    description: "Second tax item"
                    total: 50
                  total: 101.94
                total: 301.94
            outbound:
              consumer:
                base: 200
                breakdown:
                - base: 71.35
                  passengerRefs: "ADTRef1"
                  passengerType: "ADT"
                  surcharge: 10
                  tax: 200.59
                currency: "EUR"
                tax:
                  breakdown:
                  - code: "AB"
                    currency: "EUR"
                    description: "First tax item"
                    total: 40.94
                  - code: "CD"
                    currency: "EUR"
                    description: "Second tax item"
                    total: 40
                  total: 81.94
                total: 281.94
              provider:
                base: 200
                breakdown:
                - base: 90.35
                  passengerRefs: "ADTRef1"
                  passengerType: "ADT"
                  surcharge: 11
                  tax: 200.59
                currency: "USD"
                tax:
                  breakdown:
                  - code: "AB"
                    currency: "EUR"
                    description: "First tax item"
                    total: 50.94
                  - code: "CD"
                    currency: "EUR"
                    description: "Second tax item"
                    total: 50
                  total: 101.94
                total: 301.94
          provider: "AA"
        - benefits:
            amount:
              consumer:
                base: 200
                currency: "EUR"
                total: 281.94
              provider:
                base: 200
                currency: "USD"
                total: 301.94
            application: "FARES"
            description: "QDP Test Percent Discount"
            term:
              category: "BAGGAGE"
              item: "CARRYON"
              media:
                id: "#0001"
                link: "http://test.com"
              metadataToken: "Velit aperiam commodi at rerum reiciendis."
              originDestinationReference: "Sunt repellat."
              properties:
              - UOM: "Kg"
                type: "Weight"
                value: "8"
              - UOM: "Lbs"
                type: "Weight"
                value: "18"
              text: "1 carry-on bag  up to 8kg/18lbs"
              units: "1"
          createdAt: 1618480712
          disclosures:
          - descriptions:
            - category: "MEALS"
              item: "DRINKS_SNACKS"
              text: "Snacks and Beverage except GVA"
            listKey: "TBEUKES"
          - descriptions:
            - category: "MEALS"
              item: "DRINKS_SNACKS"
              text: "Snacks and Beverage except GVA"
            listKey: "TBEUKES"
          error: "no available journey for this search"
          flights:
          - arrival:
              airportCode: "MAD"
              airportName: "MADRID Airport"
              countryID: ""
              date: "2019-08-15"
              parentLocation: ""
              terminalName: "2"
              time: "08:30"
            baggageAllowance:
              carryOn:
              - chooseType: "one"
                options:
                - properties:
                  - UOM: "Kg"
                    type: "Weight"
                    value: "8"
                  - UOM: "Lbs"
                    type: "Weight"
                    value: "18"
                  quantity: 1
                  text: "1 carry-on bag  up to 8kg/18lbs"
                - properties:
                  - UOM: "Kg"
                    type: "Weight"
                    value: "8"
                  - UOM: "Lbs"
                    type: "Weight"
                    value: "18"
                  quantity: 1
                  text: "1 carry-on bag  up to 8kg/18lbs"
                passengerRefs: "Repellendus mollitia neque labore est corrupti."
              checked:
              - chooseType: "one"
                options:
                - properties:
                  - UOM: "Kg"
                    type: "Weight"
                    value: "8"
                  - UOM: "Lbs"
                    type: "Weight"
                    value: "18"
                  quantity: 1
                  text: "1 carry-on bag  up to 8kg/18lbs"
                - properties:
                  - UOM: "Kg"
                    type: "Weight"
                    value: "8"
                  - UOM: "Lbs"
                    type: "Weight"
                    value: "18"
                  quantity: 1
                  text: "1 carry-on bag  up to 8kg/18lbs"
                passengerRefs: "Repellendus mollitia neque labore est corrupti."
            departure:
              airportCode: "JFK"
              airportName: "John F Kennedy (NY) (New York) Airport"
              countryID: ""
              date: "2019-08-15"
              parentLocation: ""
              terminalName: "2"
              time: "06:30"
            duration: "11h35m"
            key: "F1"
            segments:
            - ODRef: "OD1"
              detail:
                classOfService:
                  cabinDesignator: "ECONOMY"
                  code: "Y"
                  disclosureRefs:
                  - "TBEUKES"
                  fare:
                    basisCode: "PEUBXXP9"
                    cabin: "B"
                    code: "FLE"
                    marketingName: "Light"
                    priceClassName: "Facilis illo et quas omnis."
                    standardName: "Restricted"
                    type: "Published"
                  fareRules:
                  - cancel: "Not Allowed"
                    cancelEnum: "not_allowed"
                    change: "For Fee"
                    changeEnum: "allowed"
                    passengerRef: "Debitis voluptatem et dolores quis soluta fuga."
                    passengerType: "Facere repellendus facere dolorum corrupti rerum\
                      \ exercitationem."
                    penalties:
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                  - cancel: "Not Allowed"
                    cancelEnum: "not_allowed"
                    change: "For Fee"
                    changeEnum: "allowed"
                    passengerRef: "Debitis voluptatem et dolores quis soluta fuga."
                    passengerType: "Facere repellendus facere dolorum corrupti rerum\
                      \ exercitationem."
                    penalties:
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                  generalClassCode: "B"
                  refs: "FBCODE2ADT"
                duration: "PT7H15M"
                seatsLeft: "10"
                segmentType: "HK"
                stopLocations:
                - airportCode: "KGL"
                  airportName: "Kigali International"
                  arrivalDate: "2019-09-06"
                  arrivalTime: "18:50"
                  departureDate: "2019-09-06"
                  departureTime: "20:05"
                stopQuantity: "1"
              equipment:
                aircraftCode: "JFK"
                name: "New York J F Kennedy International Apt, US"
              fareCode: "70J"
              flightNumber: "BA7289"
              marketingCarrier:
                airlineID: "CA"
                flightNumber: "BA1324"
                name: "Common Airline"
              operatingCarrier:
                airlineID: "BA"
                flightNumber: "1324"
                name: "British Airways"
              originDestination:
                arrival:
                  airportCode: "MAD"
                  airportName: "MADRID"
                  countryID: "Accusamus harum."
                  date: "2019-08-15"
                  parentLocation: "Aliquid corrupti reiciendis cumque."
                  terminalName: "4S"
                  time: "08:30"
                departure:
                  airportCode: "JFK"
                  airportName: "John F Kennedy (NY) (New York) Airport"
                  countryID: "Soluta voluptas."
                  date: "2019-08-15"
                  parentLocation: "Dolor quo sequi perferendis illo repellendus qui."
                  terminalName: "Terminal 7"
                  time: "06:30"
              segmentID: "SEGMENT-BA7289"
            - ODRef: "OD1"
              detail:
                classOfService:
                  cabinDesignator: "ECONOMY"
                  code: "Y"
                  disclosureRefs:
                  - "TBEUKES"
                  fare:
                    basisCode: "PEUBXXP9"
                    cabin: "B"
                    code: "FLE"
                    marketingName: "Light"
                    priceClassName: "Facilis illo et quas omnis."
                    standardName: "Restricted"
                    type: "Published"
                  fareRules:
                  - cancel: "Not Allowed"
                    cancelEnum: "not_allowed"
                    change: "For Fee"
                    changeEnum: "allowed"
                    passengerRef: "Debitis voluptatem et dolores quis soluta fuga."
                    passengerType: "Facere repellendus facere dolorum corrupti rerum\
                      \ exercitationem."
                    penalties:
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      description: "See cancelation policy "
                      type: "ADE"
                    - amounts:
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
                        remark: "MaximumPenaltyAmount"
                      - amount: 35.65
                        currency: "EUR"
                        providerAmount: 30.7
                        providerCurrency: "SGD"
[...]
